<br>
<h1 style="font-size: 5em">4 <img src="assets/PortalBenjaminDark.png" style="width: 90px; padding-bottom: 4px">
4</h1>
<p>
	You have reached the website of Benjamin Salasek. I am unable to process your request right now, so please make an observation, and I'll get back to you as soon as I can't.
</p>
<!--
<div style="text-align: center">
<img src="assets/PortalBenjaminDark.png" class="not-found-portal-image">
</div>
-->
<br>
<h1>You might as well watch this cool video!</h1>
<div style="text-align: center">
<h3>Neechi (dog) Feeder</h3>
	<div class="col">
		<iframe class="box" width="560" height="315" src="https://www.youtube.com/embed/cQlMx21N6_M" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
		</iframe>
	</div>
</div>
