<div>
	<h2>Personal</h2>

	<h4>Bio</h4>
	<div class="box">
	I am an <a routerLink="/arduino">Arduino</a> enthusiest. I love technology and my boys, Damien and Gabriel.
		<br>
		<br>
		I love my boys more than anything, and they are quite amazing. I've lived in Chicago since I was 18 when I moved from Schaumburg where I lived my whole childhood. I love music and art and create art in various ways including drawing with charcoal or colored pencils, photography and designing digital abstract images with photoshop. If you don't know me, haven't met me or haven't heard about people that have met me, I am very much into humor. Dry humor. Dark and dry humor. Apart from Arduino and coding, I am intensely passionate about philosophy, psychology, the multiverse (and our universe) and video games which foreshadow the early stages of virtual reality.
		<br>
		<br>
		Please enjoy this photograph of an el horse riding alongside a standard horse that I created via Photoshop.
	</div>
	<br>
		<h4>Contact</h4>

		<div class="box">
			email: <a href="mailto:benjaminsalasek@icloud.com" >benjaminsalasek@icloud.com</a>
	</div>
<!--
	<div>
		<h4>Photography</h4>
	</div>
-->
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-sm">
			<br>
			<h4>El Horse</h4>
			<a href="assets/El-Horse-forweb1000.png"><img class="image-big" src="assets/El-Horse-forweb1000.png"/></a>
		</div>
		<div class="col-sm">
			<br>
			<h4>Family</h4>
			<a href="assets/personal/Family%20Benjamin%20Damien%20Gabriel%20IMG_2739.png"><img class="image-big" src="assets/personal/Family%20Benjamin%20Damien%20Gabriel%20IMG_2739.png"></a>
		</div>
	</div>
</div>
