<div>
	<h2>Personal</h2>

	<div class="box">
	<h5>Bio</h5>
	I am an <a routerLink="/arduino">Arduino</a> enthusiest. I love technology and my boys, Damien and Gabriel.
		<br>
		<br>
		I love my boys more than anything, and they are quite amazing. I've lived in Chicago since I was 18 when I moved from Schaumburg where I lived my whole childhood. I love music and art and create art in various ways including drawing with charcoal or colored pencils, photography and designing digital abstract images with photoshop.
		<br>
		<br>
		For now, please enjoy this photograph of an el horse riding alongside a standard horse that I created via Photoshop for my own enjoyment.
		</div>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-sm">
			<br>
			<h4>El Horse</h4><img class="image-big" src="assets/El-Horse-forweb1000.png"/>
		</div>
		<div class="col-sm">
			<br>
			<h4>Family</h4><img class="image-big" src="assets/personal/Family%20Benjamin%20Damien%20Gabriel%20IMG_2739.png">
		</div>
	</div>
</div>
