<!--	<h2>Personal</h2>-->

<!--	<h4>Bio</h4>-->
	<div class="box2 clearfix hardFade">
		<div class="" style="padding: 15px">
			<div class="floatRight35" style="">
				<h6 style="text-align: right">I am</h6>
				<span id="homeProjectsTitle" style="text-align: right">
					<span style="color: #00878F">Benjamin </span>
					<span> </span>
					<span style="color: #E47128">Salasek</span>
				</span>
				<p style="margin: 0px">
					I am an <a class="a2" routerLink="/arduino">Arduino</a> enthusiest. I love technology and my boys, Damien and Gabriel.
					<br>
					<br>
					I love my boys more than anything, and they are quite amazing. I've lived in Chicago since I was 18 when I moved from Schaumburg where I lived my whole childhood. I love music and art and create art in various ways including drawing with charcoal or colored pencils, photography and designing digital abstract images with photoshop.
					<br>
					<br>
					If you don't know me, haven't met me or haven't heard about people that have met me, I am very much into humor. Dry humor. Dark and dry humor. Apart from Arduino and coding, I am intensely passionate about philosophy, psychology, the multiverse (and our universe) and video games which foreshadow the early stages of virtual reality.
					<br>
				</p>
			</div>
			<div class="" style="">
				<a href="assets/personal/Family%20Benjamin%20Damien%20Gabriel%20IMG_2739.png"><img class="image-big" style="padding: 15px; box-shadow: none" src="assets/personal/Family%20Benjamin%20Damien%20Gabriel%20IMG_2739.png"></a>
			</div>
		</div>
	</div>
<div class="box3 clearfix">
	<div style="float: right">
		<a href="assets/Photography/Canadian_murals-50percent-IMG_9447.png"><img class="image-big" style="padding: 10px" src="assets/Photography/Canadian_murals-50percent-IMG_9447.png"/></a>
	</div>
	<h4 style="padding: 10px 5px">Photography</h4>
	<div style="padding-left: 75px">
		<p class="p-white">
			I am a photography enthusiest. I don't have an expensive DSLR camera. I use my iPhone. As much as a nice DSLR camera would be... nice, I find that being able to capture any moment and feeling is more important. I can take out my camera when inspired and take a photo within a few seconds.
		</p>
	</div>
	<div style="text-align: center;margin: 20px">
		<a class="btn-primary btn-primary-alt-black" style="" routerLink="/photography">View Photographs</a>
	</div>
</div>



	<div class="box2 clearfix">
		<div class="" style="padding: 15px">
			<div class="floatRight35" style="">
				<h6 style="text-align: right">I love</h6>
				<span id="homeProjectsTitle" style="text-align: right">
					<span style="color: #00878F">Creating </span>
					<span>Digital </span>
					<span style="color: #E47128">Art</span>
				</span>
				<p style="margin: 0px">

					I am a Photoshop & Pixelmator Pro enthusiest. A master of photo manipulation.
					<br>
					<br>
					Please enjoy this photograph of an el horse riding alongside a standard horse that I created via Photoshop.
				</p>
			</div>
			<div class="" style="">
				<a href='assets/El-Horse-forweb1000.png'><img class="image-big"  style="margin-right: 15px" src="assets/El-Horse-forweb1000.png"/></a>
			</div>
		</div>
	<br>
	</div>
