<app-nav-bar></app-nav-bar>
<div style="display: inline-block; height: 55px">
</div>
<router-outlet></router-outlet>
<div id="contact-home-div">
<!--
	<div id="contactForm">
		<form>
			<div class="row">
				  <div class="form-group col-sm-6">
					  <input class="form-control" type="text" placeholder="name">
				  </div>
				  <div class="form-group col-sm-6">
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email">
					<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				  </div>
			</div>
		  <div class="form-group">
		<input class="form-control" type="text" placeholder="message" style="height: 5em">
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
-->
<!--	<a class="a2" href="mailto:benjaminsalasek@icloud.com?&subject=Contact%20From%20Website&body=Here%20is%20what%20I%20have%20to%20say!">Email Me</a>-->
	<div style="text-align: center; overflow-x:; margin-bottom: 5px">
		<table id="contactAndProfiles" align="center" style="color: dimgray; margin-right: auto; margin-left: auto; margin-bottom: 10px; margin-top: 10px">
			<tr>
				<th>
					<a class="a2 p-gray" href="mailto:benjaminsalasek@icloud.com?&subject=Contact%20From%20Website&body=Here%20is%20what%20I%20have%20to%20say!" >Email</a>
				</th>
				<th>
					<a class="a2 p-gray" href="https://www.linkedin.com/in/benjaminsalasek/">LinkedIn</a>
				</th>
				<th>
					<a class="a2 p-gray" href="https://github.com/BenjaminC137">GitHub</a>
				</th>
				<th>
					<a class="a2 p-gray" href="https://www.youtube.com/channel/UCOTXE8pDT-_mEq53IJTQ7-A?view_as=subscriber">YouTube</a>
				</th>
			</tr>
			<tr id="contactTable">
				<td><a class="a2" href="mailto:benjaminsalasek@icloud.com?&subject=Contact%20From%20Website&body=Here%20is%20what%20I%20have%20to%20say!" >benjaminsalasek@icloud.com</a></td>
				<td> <a class="a2" href="https://www.linkedin.com/in/benjaminsalasek/">Benjamin Salasek</a></td>
				<td><a class="a2" href="https://github.com/BenjaminC137">BenjaminC137</a></td>
				<td><a class="a2" href="https://www.youtube.com/channel/UCOTXE8pDT-_mEq53IJTQ7-A?view_as=subscriber">Arduino Project Videos</a></td>
			</tr>
		</table>
		</div>
<!--
		<ul>
			<li>Email: <a class="a2" href="mailto:benjaminsalasek@icloud.com" >benjaminsalasek@icloud.com</a></li>
			<li>LinkedIn: <a class="a2" href="https://www.linkedin.com/in/benjaminsalasek/">Benjamin Salasek</a></li>
			<li>GitHub: <a class="a2" href="https://github.com/BenjaminC137">BenjaminC137</a></li>

			<li>Youtube: <a class="a2" href="https://www.youtube.com/channel/UCOTXE8pDT-_mEq53IJTQ7-A?view_as=subscriber">Arduino Project Videos</a></li>
		</ul>
-->
		<!--			<li>CodeWars: <a class="a2" href="https://www.codewars.com/users/BenjaminC137">BenjaminC137</a></li>-->
	</div>
<footer>Copyright © 2019 Benjamin Salasek & Benjamin.Website inc. All rights reserved.
</footer>
