<nav class="fixed-top navbar navbar-expand-lg navColors" style="padding: 0px; padding-left: 9px">
    <img src="assets/Logo/BenjaminDotWebsiteLogo-full.svg" width="49" height="49" class="d-inline-block align-top" alt="" style="margin: 7px">
  <a class="navbar-brand"href="/home">
    <span class="stroke logoB">B</span>enjamin<span class="stroke logoDot">.</span><span class="stroke logoW">W</span>ebsite
  </a>
<!--	<a class="navbar-brand" href="#">Navbar</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
		<li class="nav-item active">
			<a class="nav-link" href="/home">Home
			<span class="sr-only">(current)</span>
			</a>
		</li>
      			<li class="nav-item">
				<a class="nav-link" href="/arduino" >Arduino</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/professional">Portfolio</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/personal">Personal</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="mailto:benjaminsalasek@icloud.com?&subject=Contact%20From%20Website&body=Here%20is%20what%20I%20have%20to%20say!">Contact Me</a>
			</li>
    </ul>
  </div>
</nav>

<!--


<nav class="fixed-top navbar navbar-expand-lg navColors nav-z">
	<div data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" style="width: 100%; display: flex; justify-content: space-between">
		<a class="navtitle">
			Benjamin.Website
		</a>
		<a class="navbar-brand">
		</a>
	</div>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item active">
					<a class="nav-link" href="/home">Home
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/arduino" >Arduino</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/professional" >Professional Projects</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/personal" >Personal Projects</a>
			</li>
		</ul>
	</div>
</nav>

-->
