	<nav class="sticky-top navbar navbar-expand-lg navColors">
		<a class="navbar-brand" href="index.html">
			<img class="navColors" src="assests/rick-prison.png"width="35px" class="d-inline-block align-top" alt="rick" title="rick"> Benjamin.Website</a>
		<button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		 </button>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      	<li class="nav-item active">
        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
        <a class="nav-link" href="Professional.html">Professional</a>
      	</li>
		<li class="nav-item">
        <a class="nav-link" href="Personal.html">Personal</a>
      	</li>
		<li class="nav-item">
        <a class="nav-link" href="Arduino.html">Arduino</a>
      	</li>
		<li class="nav-item">
        <a class="nav-link" href="box.html">Fireball Game!</a>
      	</li>
		<li class="nav-item">
        <a class="nav-link" href="http://urldotcom.com">urldotcom.com</a>
      	</li>
		<li class="nav-item">
        <a class="nav-link" href="weather.html">Weather</a>
      	</li>
    </ul>
  </div>
	</nav>
