<nav class="fixed-top navbar navColors nav-z">
<!--
	<a class="navtitle" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"> Benjamin.Website
	</a>
	<a class="navbar-brand" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		<img class="navColors" src="assets/PortalVectorTeal.svg" width="35px" class="d-inline-block align-top" alt="portal" title="portal">
	</a>
-->
	<div data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" style="width: 100%; display: flex; justify-content: space-between" >
		<a class="navtitle">
			Benjamin.Website
		</a>
		<a class="navbar-brand">
			<img class="navColors" src="assets/PortalVectorTeal.svg" width="35px" class="d-inline-block align-top" alt="portal" title="portal" style="width: 35px">
		</a>
	</div>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item active">
					<a class="nav-link" href="/home">Home
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/arduino" >Arduino</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/professional" >Professional</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/personal" >Personal</a>
			</li>
		</ul>
	</div>
</nav>
