<h2>Professional</h2>
<!--
	<h3>
		Portfolio & Accomplishments
	</h3>
-->
<h4>My story</h4>
<div class="box">
	Greetings visitor,
	<br>
	<br>
	Over the last 5 years, I've been researching and taking online classes on Arduino (based on C/C++) and C#. Working with the Arduino prototyping platform has been my passion. You can view some of my favorite projects on this site. I've designed, coded and physically built electronics and machines. <a href="mailto:benjaminsalasek@icloud.com">Ask me</a> about this if you're intrigued! After ten years of various IT support/HelpDesk positions, I decided that I wanted to take my coding to the next level. I retired from my IT support career that I completely lost passion for in pursuit of a new exciting and rewarding career in software development.
	<br>
	<br>
	I enrolled in and completed a twelve week intensive full time coding course in downtown Chicago, called Coding Temple, focusing on designing .Net Core web applications and related technologies. I not only majorly improved my C# skills, but I developed a skillset for creating web applications. Here, you will find a portfolio of projects that I've created. Apart from that, I have skills such as Graphic Design with Photoshop, Woodworking and becoming the Office Foosball Champion.
	<br>
	<br>
<!--	<a href="https://www.icloud.com/pages/02Q6cENiP-dmRToRaGIZyyZNg#Benjamin_Salasek_Resume_Live">Current Resume </a> (enter any name; click the wrench icon to download)-->
<!--	<a href="/src/assets/Benjamin%20Salasek%20Resume.pdf">Current Resume</a>-->
	<br>
	<br>
	<h6>Skills</h6>
	<ul>
		<li>Angular 2+</li>
		<li>APIs</li>
		<li>bootstrap</li>
		<li>CSS</li>
		<li>design principles</li>
		<li>Entity Framework</li>
		<li>git</li>
		<li>GitHub</li>
		<li>HTML5</li>
		<li>JavaScript</li>
		<li>jQuery</li>
		<li>MVC</li>
		<li>MySQL</li>
		<li>OOP</li>
		<li>Photoshop</li>
		<li>Razor</li>
		<li>TypeScript</li>
		<li>Visual Studio</li>
	</ul>
</div>
<br>
<br>
<br>
<h4>Resume</h4>
<div class="box">

<div *ngIf="isLoaded" style="text-align: center;">
  <button class="btn-primary" (click)="prevPage()" [disabled]="page === 1">Page 1</button>
  <button class="btn-primary" (click)="nextPage()" [disabled]="page === totalPages">Page 2</button>
</div>		<pdf-viewer src="assets/Benjamin%20Salasek%20Resume.pdf"
					[show-all]="false"
            		[page]="page"
					(after-load-complete)="afterLoadComplete($event)"
					style="display: block"
					[original-size]="false"
					[autoresize]="true">
		</pdf-viewer>
</div>
<br>
<h4>Contact and Profiles</h4>
<div class="box">
	<ul>
		<li>Email: <a href="mailto:benjaminsalasek@icloud.com" >benjaminsalasek@icloud.com</a></li>
		<li>LinkedIn: <a href="https://www.linkedin.com/in/benjaminsalasek/">Benjamin Salasek</a></li>
		<li>GitHub: <a href="https://github.com/BenjaminC137">BenjaminC137</a></li>
		<li>CodeWars: <a href="https://www.codewars.com/users/BenjaminC137">BenjaminC137</a></li>
		<li>Youtube: <a href="https://www.youtube.com/channel/UCOTXE8pDT-_mEq53IJTQ7-A?view_as=subscriber">Arduino Project Videos</a></li>
	</ul>
	</div>
<br>
<br>
<br>
<h3>Projects</h3>
<h4 class="cursor-finger" routerLink="/home">Benjamin.website</h4>
	<p>
		Please check out this website! It's my website that I made primarily for showcasing my Arduino projects that I've created and my professional projects listed on this page. I made this with Angular 6 and am continually updating it with more content, features and new projects.
		<br>
		<br>
		<a routerLink="/home">Home Page</a>
	</p>
<br>
<!--<div class="box">-->
	<h4 class="cursor-finger" routerLink="/arduino">Arduino</h4>
	<p>
		Please check out my beloved Arduino projects! My passion is the Arduino prototyping platform. There is tons of cool stuff here. If you have not already browsed, definitely check it out!
		<br>
		<br>
		<a routerLink="/arduino">Arduino</a>
	</p>
<!--</div>-->
<br>
<!--<div class="box">-->
	<a href="http://interdimensionalthings.azurewebsites.net"><h4 class="">Interdimensional Things</h4></a>
	<p>
		Please check out Interdimensional Things, my E-Commerce website. It is an MVC web app that I created in Visual Studio using .Net Core and MySQL. Hoseted on Microsoft's Azure cloud service, the site uses APIs such as Braintree's credit card authorization, SmartyStreet's address validation, and SendGrid's Email service.
		<br>
		<br>
		The site is where I sell things that I've encountered and acquired throughout my interdimensional travels. I wanted to have a way in which normal, non-interdimentional travelers, could discover and purchase things they never imagined possible. I've created it in such a way that nearly every mainstream species from our central finite curve can clearly read and understand how to use the site, how much things cost, and how long it will take for them to receive the things they choose.
		<br>
		<br>
		<a href="http://interdimensionalthings.azurewebsites.net">Interdimensional Things</a>
	</p>
<!--</div>-->
<br>
<!--<div class="box">-->
<a href="https://urldotcom.com/weather.html"><h4>Happy Weather</h4></a>
	<p>
		Please check out Happy Weather, my mobile web app which uses the Yahoo Weather API.
		<br>
		<br>
		<a href="https://urldotcom.com/weather.html">Happy Weather</a>
	</p>
<!--</div>-->
<br>
<!--<div class="box">-->
	<a href="https://benjaminsalasek.com/box.html"><h4>Fireball Game</h4></a>
	<p>
		Please check out Fireball Game. Created using JavaScript, it's a two player game in which one player controls the keyboard, and the other controls the cursor. The goal is to shoot the walker with a fireball.
		<br>
		<br>
		<a href="https://benjaminsalasek.com/box.html">Fireball Game</a>
	</p>
<!--</div>-->
