<h2>Professional</h2>
<h4>My story</h4>
<div class="box">
	Greetings visitor,
	<br>
	<br>
	I'm a Front-end Developer proficient in HTML5, CSS3, JavaScript, jQuery and Bootstrap. I also have eperience designing responsive web-apps in Angular 6 including this site.
	<br>
	<br>
<!--	Over the last 5 years, I've been researching and taking online classes on Arduino (based on C/C++) and C#. Working with the Arduino prototyping platform has been my passion. You can view some of my favorite projects on this site. I've designed, coded and physically built electronics and machines. <a href="mailto:benjaminsalasek@icloud.com">Ask me</a> about this if you're intrigued! After ten years of various IT support/HelpDesk positions, I decided that I wanted to take my coding to the next level. I retired from my IT support career that I completely lost passion for in pursuit of a new exciting and rewarding career in software development.-->
	Over the last 5 years, I've been researching and taking online classes on Arduino (based on C/C++). Working with the Arduino prototyping platform has been my passion. You can view some of my favorite projects on this site. I've designed, coded and physically built electronics and machines. <a href="mailto:benjaminsalasek@icloud.com">Ask me</a> about this if you're intrigued!
	<br>
	<br>
	In the summer of 2018, I enrolled in and completed a twelve week intensive full time coding course in downtown Chicago, called Coding Temple, focusing on designing .Net Core web applications and related technologies. My website, Interdimensional Things (below) is my E-Commerce .Net Core C# MVC app created for my final project in Coding Temple.
	<br>
	<br>
	Here, you will find a portfolio of projects that I've created. Apart from that, I have skills such as Graphic Design with Photoshop, Woodworking and becoming the Office Foosball Champion.
	<br>
	<br>
	<h6>Skills</h6>
	<b>Front-End</b>
	<ul>
		<li>Angular 2+</li>
		<li>APIs</li>
		<li>bootstrap</li>
		<li>CSS</li>
		<li>design principles</li>
		<li>git</li>
		<li>GitHub</li>
		<li>HTML5</li>
		<li>JavaScript</li>
		<li>jQuery</li>
		<li>OOP</li>
		<li>Pixelmator Pro</li>
		<li>Photoshop</li>
		<li>TypeScript</li>
	</ul>
	<b>.Net Core</b>
	<ul>
		<li>ASP.NET</li>
		<li>C#</li>
		<li>Entity Framework</li>
		<li>MVC</li>
		<li>MySQL</li>
		<li>Razor</li>
		<li>Visual Studio</li>
	</ul>
</div>
<br>
<h4>Contact and Profiles</h4>
<div class="box">
	<ul>
		<li>Email: <a href="mailto:benjaminsalasek@icloud.com" >benjaminsalasek@icloud.com</a></li>
		<li>LinkedIn: <a href="https://www.linkedin.com/in/benjaminsalasek/">Benjamin Salasek</a></li>
		<li>GitHub: <a href="https://github.com/BenjaminC137">BenjaminC137</a></li>
		<li>CodeWars: <a href="https://www.codewars.com/users/BenjaminC137">BenjaminC137</a></li>
		<li>Youtube: <a href="https://www.youtube.com/channel/UCOTXE8pDT-_mEq53IJTQ7-A?view_as=subscriber">Arduino Project Videos</a></li>
	</ul>
	</div>
<br>
<br>
<h3>PROJECTS</h3>
<h4 class="cursor-finger" routerLink="/home">Benjamin.website</h4>
	<div class="box" style="white-space: pre-line">
		<div class="row">
			<div class="col">
				Please check out this website! It's my website that I made primarily for showcasing my Arduino projects that I've created and my professional projects listed on this page. I made this with Angular 6 and am continually updating it with more content, features and new projects.
				<br>
				<br>
				<a style="font-size: 1.5em" routerLink="/home">Go to Home Page</a>
			</div>
			<div class="">
				<a class="cursor-finger" href="assets/benjamindotwebsiteScreenShot20190214small.png"><img class="arduino-small-square shadow-box" src="assets/benjamindotwebsiteScreenShot20190214small.png"><br>Screenshot</a>
			</div>
		</div>
	</div>
<br>
	<h4 class="cursor-finger" routerLink="/arduino">Arduino</h4>
	<div class="box" style="white-space: pre-line">
		<div class="row">
			<div class="col">
				Please check out my beloved Arduino projects! One of my passions is the Arduino prototyping platform. There are lots of cool things here. If you have not already browsed, definitely check it out!
				<br>
				<br>
			<a style="font-size: 1.5em" routerLink="/arduino">Go to Arduino Projects</a>
			</div>
			<div class="">
				<a class="cursor-finger" href="assets/ArduinoScreenShot20190214small.png"><img class="arduino-small-square shadow-box" src="assets/ArduinoScreenShot20190214small.png"><br>Screenshot</a>
			</div>
		</div>
	</div>
	<br>
	<a href="https://benjaminc137.github.io/JavaScript_play/"><h4>Slider Banana©</h4></a>
	<div class="box" style="white-space: pre-line">
		<div class="row">
			<div class="col">
			Please check out Slider Banana©, my amazing cross-platform responsive web app game which uses HTML, CSS, JavaScript, jQuery and nothing else! No assets. No fooling around. Just fun fun fun!
			<br>
			<br>
			The confluence of right brain and left brain!
			Try ‘Rotten Banana Mode’ - Only for Master Thinkers!
			100% responsive. Works on Desktop and mobile equally.
			There are no assets or images! This is raw coding. Visually stunning artistic game with simple but unique gameplay.
			Utilizes local storage for saving score, achievements and options.
				<br>
				<br>
				<a  style="font-size: 1.5em" href="https://benjaminc137.github.io/JavaScript_play/">Play Slider Banana© (beta)</a>
			</div>
			<div class="">
				<a class="cursor-finger" href="assets/SliderBananaScreenshot20190214%20small%20IMG_9741.png"><img class="arduino-small-square shadow-box" src="assets/SliderBananaScreenshot20190214%20small%20IMG_9741.png"><br>Screenshot</a>
			</div>
		</div>
	</div>
<br>
<!--<div class="box">-->
	<a href="http://interdimensionalthings.azurewebsites.net"><h4 class="">Interdimensional Things</h4></a>
	<div class="box" style="white-space: pre-line">
		<div class="row">
			<div class="col">
				Please check out Interdimensional Things, my E-Commerce website. It is an ASP.NET MVC web app that I created in Visual Studio using .Net Core and MySQL. Hosted on Microsoft's Azure cloud service, the site uses APIs such as Braintree's credit card authorization, SmartyStreet's address validation, and SendGrid's Email service.
				<br>
				<br>
				The site is where I sell things that I've encountered and acquired throughout my interdimensional travels. I wanted to have a way in which normal, non-interdimentional travelers, could discover and purchase things they never imagined possible. I've created it in such a way that nearly every mainstream species from our central finite curve can clearly read and understand how to use the site, how much things cost and how long it will take for them to receive the things they choose.options.
				<br>
				<br>
				<a style="font-size: 1.5em" href="http://interdimensionalthings.azurewebsites.net">Go to Interdimensional Things</a>
			</div>
			<div class="">
				<a class="cursor-finger" href="assets/InterdimensionalThingsScreenShot20190214small.png"><img class="arduino-small-square shadow-box" src="assets/InterdimensionalThingsScreenShot20190214small.png"><br>Screenshot</a>
			</div>
		</div>
	</div>
<br>
	<a href="https://benjaminsalasek.com/box.html"><h4>Fireball Game</h4></a>
	<div class="box" style="white-space: pre-line">
		<div class="row">
			<div class="col">
				Please check out Fireball Game! Created using JavaScript, it's a two player desktop game in which one player controls the keyboard, and the other controls the cursor. The goal is to shoot the walker with a fireball.
				<br>
				<br>
				<a style="font-size: 1.5em" href="https://benjaminsalasek.com/box.html">Play Fireball Game</a>
			</div>
			<div class="">
				<a class="cursor-finger" href="assets/fireballBameScreenShot.png"><img class="arduino-small-square shadow-box" src="assets/fireballBameScreenShot.png"><br>Screenshot</a>
			</div>
		</div>
	</div>
<br>
<h4>Resume</h4>
<div class="box">
	<a href='assets/Benjamin%20Salasek%20Resume.pdf' download>Download</a>
	<div *ngIf="isLoaded" style="text-align: center;">
	  <button class="btn-primary" (click)="prevPage()" [disabled]="page === 1">Page 1</button>
	  <button class="btn-primary" (click)="nextPage()" [disabled]="page === totalPages">Page 2</button>
	</div>
	<pdf-viewer src="assets/Benjamin%20Salasek%20Resume.pdf"
				[show-all]="false"
				[page]="page"
				(after-load-complete)="afterLoadComplete($event)"
				style="display: block"
				[original-size]="false"
				[autoresize]="true">
	</pdf-viewer>
	<div *ngIf="isLoaded" style="text-align: center;">
	  <button class="btn-primary" (click)="prevPage()" [disabled]="page === 1">Page 1</button>
	  <button class="btn-primary" (click)="nextPage()" [disabled]="page === totalPages">Page 2</button>
	</div>
		<a href='assets/Benjamin%20Salasek%20Resume.pdf' download>Download</a>

</div>
