<h2>Professional</h2>
	<h3>
		More professional content coming soon!
	</h3>
<!--<div class="box">-->
	<h4 class="professional-title" routerLink="/arduino">Arduino</h4>
	<p>
		Please check out my beloved Arduino projects! My passion is the Arduino prototyping platform. There is tons of cool stuff here. If you have not already browsed, definitely check it out!
		<br>
		<br>
		<a routerLink="/arduino">Arduino</a>
	</p>
<!--</div>-->
<br>
<div class="box">
	<h4>Interdimensional Things</h4>
	<p>
		Please check out Interdimensional Things, my E-Commerce website. It is an MVC web app that I created in Visual Studio using .Net Core and MySQL. Hoseted on Microsoft's Azure cloud service, the site uses APIs such as Braintree's credit card authorization, SmartyStreet's address validation, and SendGrid's Email service.
		<br>
		<br>
		The site is where I sell things that I've encountered and acquired throughout my interdimensional travels. I wanted to have a way in which normal, non-interdimentional travelers, could discover and purchase things they never imagined possible. I've created it in such a way that nearly every mainstream species from our central finite curve can clearly read and understand how to use the site, how much things cost, and how long it will take for them to receive the things they choose.
		<br>
		<br>
		<a href="http://interdimensionalthings.azurewebsites.net">Interdimensional Things</a>
	</p>
</div>
<br>
<div class="box">
	<h4>Happy Weather</h4>
	<p>
		Please check out Happy Weather, my mobile web app which uses the Yahoo Weather API.
		<br>
		<br>
		<a href="https://urldotcom.com/weather.html">Happy Weather</a>
	</p>
</div>
<br>
<div class="box">
	<h4>Fireball Game</h4>
	<p>
		Please check out Fireball Game. Created using JavaScript, it's a two player game in which one player controls the keyboard, and the other controls the cursor. The goal is to shoot the walker with a fireball.
		<br>
		<br>
		<a href="https://urldotcom.com/weather.html">Fireball Game</a>
	</p>
</div>
