
/*	Teal 		#00878F  rgba(0, 135, 143, .9)
	Light Teal	#62AEB2
	Orange	 	#E47128
	Yellow		#E5AD24	 rgba(229, 173, 36, .9)
	Brown 		#8C7965
	other 		#ECF1F1  rgba(236, 241, 241, .9)   */
:focus{
	outline-color: #E5AD24;
		outline-width: 3px;
/*
	border-style: solid;
	border-color: aqua;
	background-color: blueviolet;
*/
}
button:active{
	background-color: #62AEB2 !important;
}
a{
    text-decoration: none;
/*    color: #E47128;*/
	color: #00878F;

}
a:hover{
/*	color: #00878F;*/
    color: #E47128;
	text-decoration: none;
}
a:active{
	color: #E5AD24 !important;

}
.a2{
	text-decoration: none;
    color: #E5AD24;
}
/*
.a2:hover{

}
*/
.alert{
	font-size: 8 px;
	background-color: rgb(183, 48, 40);
	color: #E5AD24;
	border-radius: 50px;
	padding: 1px;
	text-align: center;
}
.arduinoCarousel{
	max-width: 50%;
	height: 10%;
}
.arduino-cards{
	min-width: 14rem;
/*	padding: 15px;*/
	margin: 15px;
	box-shadow: 2px 2px 5px rgba(0,0,0,.1);
	max-width: 50%;
}
.arduino-images{
	min-width: 14rem;
	padding: 0px;
	margin: 15px;
	box-shadow: 2px 2px 5px rgba(0,0,0,.1);
/*	transition: all 1s ease-in-out;*/

	background-color: #ECF1F1;
	background-image: url(assets/PortalBenjaminLight.png);
	background-size: 1000px;

	transition: padding 10s ease-in-out, margin 10s ease-in-out, background-size 10s ease-in-out, box-shadow 5s;
	-webkit-transition: padding 10s ease-in-out, margin 10s ease-in-out, background-size 10s ease-in-out, box-shadow 5s;
}
.arduino-images:hover {
	padding: 15px;
	margin: 0px;
	box-shadow: 5px 5px 25px rgba(0,0,0,.5);
	background-size: 400px;
	transition: padding 500ms ease-in-out, margin 500ms ease-in-out, background-size 10s ease-in-out, box-shadow 2s;
	-webkit-transition: padding 500ms ease-in-out, margin 500ms ease-in-out, background-size 10s ease-in-out, box-shadow 2s;
}
.arduino-logo{
	display: inline;
	width: 70px;
	float: left;
}
.arduino-logo-details{
	display: inline;
	width: 70px;
	float: right;
	padding: 5px;
}
.arduino-card-hover:hover{
	cursor: pointer;
}
.arduino-small-square{
    height: 150px;
	width: auto;
	margin-right: 15px;
}
.back-button{
	position: fixed;
	top: 28px;
	left: 15px;
	z-index: 99;
}
body{
	background-color: #ECF1F1;
	padding: 15px;
    font-size: 18px;
	color: #8C7965;
    font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans';
}
.box{
	box-sizing: border-box;
	background-color: rgba(255,255,255, .7);
	padding: 20px;
/*	border-style: hidden;*/
/*	border-radius: 2px;*/
	box-shadow: 2px 2px 10px rgba(0,0,0, .04);
	font-size: 14px;
}
.boxBack{
	background-color: black;
}
.button:hover:{
cursor: pointer;
}
.button-spacing{
	margin-bottom: inherit;
}
.btn-primary {
	background-color: #E5AD24;
	color: white;
	font-size: 20px;
	padding: 5px;
	margin: 0px;
	border: none;
	font-weight:800;
}
.btn-primary:active {
	background-color: black;
}
.btn{
	color: #E5AD24;
	background: none;
	font-size: 20px;
	padding: 0px;
	margin: 0px;
	border: none;
}
.btn:hover{
	color: #E47128
}
.btn-primary:focus{
	outline-color: #E5AD24;
		outline-width: 3px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
	background-color: #00878F;
	cursor: pointer;
}
.btn-primary:active{
	background-color: #62AEB2;
}
.btn-primary:focus{
	outline-width: 3px;
/*	outline-color: #E5AD24;*/
}
.carousel-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.carousel-div{
	width: 400px;
	height: 400px;
	display: inline-block;
}
.carousel-item{
	transition: transform 8s linear, opacity 8s ease-out;
}
.card{
	padding: 0px;
/*	background-color: #ECF1F1;*/
	background-color: rgba(255,255,255, .7);

	background-image: url(assets/PortalBenjaminLight.png);
	background-size: 1000px;
	border: none;
/*
	background-repeat: no-repeat;
	transition: background-size 2s ease;
*/
}
.card:hover{
/*
	background-size: 500px;
	transition: background-size 2s ease;
*/
}
.card-body{
	padding: 0px;
/*
	background-image: url(assets/PortalBenjaminLight.png);
	background-size: 500px;
*/
}
.card-text{
	font-size: 1rem;
	margin-bottom: 5px;
	color: #00878F;
	font-weight: 500;
	background-color: #ECF1F1;
	transition: 250ms;
	-webkit-transition: 250ms;
}
.card-title{
	padding: 7px;
}
.carousel-indicators{
	margin-bottom: 0px;
}
.close-button{
	position: fixed;
	top: 28px;
	left: 15px;
	z-index: 100;
}
.carousel-caption{
	color: white;
	background-color: rgba(0, 135, 143, .9);
	padding: 0px;
	margin: 0px;
/*	background-position: left;*/
/*	text-shadow: 5px 5px 0px white;	*/
}
.custom-toggler.navbar-toggler {
    border-color: #00878F;
}
.custom-toggler .navbar-toggler-icon {
/*  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#E5AD24' stroke-width='2' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");*/
}
.container{
/*	padding-right: 500px;*/
}
.cursor-finger{
	cursor: pointer;
}
.custom-toggler{
	border-radius: 50px;
}
.custom-toggler.navbar-toggler:hover {
    border-color: #E47128;
}
.custom-toggler.navbar-toggler:focus {
    outline-color: #E5AD24;
	outline-width: 3px;
}
.div-footer{
    position: absolute;
	bottom: 0px;

}
/*
.div-footer span{
	position: absolute;
	bottom: 0;
   	right: 0;
}
*/

div img{
    width: 100%;
    height: auto;
}
html{
    background-color:#ffffff;
    color: #8C7965;
    font-family: sans-serif;
    font-size: 18px;
}
h1,h2,h3,h4 {
        color: #00878F;
        text-align: right;
	padding: 5px;
}
h1{
	text-align: center;
}
h2{
    color: #E47128;
	padding: 10px;
    text-transform: uppercase;
}
h3{
	text-align: center;
}
h4{
	text-align: left;
}
.hidden-div{
	position: relative;
	z-index: -1000;
}
.img-scale{
	max-width: 50vw;
    max-height: 50vh;
	object-fit: contain;
}
.image-big{
	width: 35vw;
	box-shadow: 5px 5px 25px rgba(0,0,0,.1);
}
/*
.image-lock{
	height: inherit; width: auto;
	align-content: center;
	align-items:center;
}
.image-lock-80{
	display: inline-block;
	align-content: center;
	align-items:center;
	max-width: 80vw;
	text-align: center;
}
*/
.limitText {
    display:flow-root; text-overflow:ellipsis; white-space:nowrap; overflow: hidden;
}
.navbar{
	padding: 3px 5px;
}
.navColors {
	color: #00878F;
	margin: auto;
/*	background-color: rgba(0, 135, 143, .9);*/
	background-color: rgba(236, 241, 241, .95);
	border-radius: 0px;
/*	background-image: url(data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://ww…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E);*/
	min-width: 18rem;
/*	padding: 15px;*/
	margin: auto;
	box-shadow: 0px 0px 5px rgba(0,0,0,.1);
	max-width: 500px;
}
.navColors a:hover{
	color: #E5AD24 !important;
	cursor: pointer;
}
.nav-link{
	font-size: 1.25rem;
	padding-left: 45px;
}
.navbar-nav{
	padding-left: 45px
}
.nav-z{
	z-index: 49;
}
.no-background{
	background: none;
	margin-bottom: 0px;
	padding: 0px;
	line-height: 1.25;
}
.no-background span{
	padding-left: 5px;
	padding-right: 5px;
}
p{
	background-color: rgba(255,255,255, .7);
	padding: 5px;
/*	border-style: hidden;*/
/*	border-radius: 3px;*/
	box-shadow: 2px 2px 10px rgba(0,0,0, .04);
	font-size: 14px;
}
.project{
	background-color: rgba(236, 241, 241, .2);
	box-shadow: 2px 2px 10px rgba(0,0,0, .1);
}
/*
.professional-title{
	display: inline-block;
	box-sizing: border-box;
	background-color: rgba(255,255,255, .7);
	padding: 5px;
	margin: 0px;
	border-style: hidden;
	border-radius: 2px;
	text-shadow: 2px 2px 10px rgba(0,0,0, .04);
}
*/
.removePadding{
	padding: 0;
}
.shadow-box{
	box-shadow: 5px 5px 15px rgba(0,0,0,.1);
}
.sticky-nav{
	position: sticky;
	top: 10px;
}
.sticky-top{
	position: -webkit-sticky;
	position: sticky;
	top: 10px;
	z-index: 51;
}
/*
.top{
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-style: hidden;
	background-color: rgb(0, 135, 143);
	border-radius: 22px;
	font-size: 30px;
	padding: 11px;
	z-index: 20;
}
*/
/*
.top:hover{
	color: #E47128;
}
#topButton{
	position: fixed;
	bottom: 5px;
	right: 5px;
}
*/


/*
.resume{
	display: inline-block;
	width: 55vw;
	height: 60vh;
	border-style: hidden;
	border-radius: 20px;
	background-color: rgba(255,255,255, .5);
	padding: 5px;
	margin: 5px;
	padding-bottom: 90px;
}
*/
/*
.user-card .header{
	background-image: url(https://cdn-images-1.medium.com/max/2000/1*19LWzzJJDPqGq67Vyd0EjQ.jpeg);
}
*/
.view-hi-res{
	position: fixed;
	top: 0px;
	left: 0px;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	background-color: rgba(0,0,0, .7);
	padding: 3px;
	box-shadow: 2px 2px 10px rgba(0,0,0, .08);
	z-index: 52;
/*
	transition: background-color 500ms;
	-webkit-transition: background-color 500ms;
*/
}
.view-hi-caption{
	position: fixed;
	right: 0;
    left: 0;
	bottom: 0px;
	z-index: 53;
	padding: 0px 5px;
	margin-bottom: 0px;
	width: 100vw;

/*
    margin-right: auto;
    margin-left: auto;
*/
/*
	padding-left: auto;
	padding-right: auto;
*/

}
/*
.width-100{
	display: inherit;
	width: inherit;
}
*/
/*
.rounded-image{
	border-style: hidden;
	border-radius: 0px;
}
*/

@include media-breakpoint-up(sm) {

}
@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) {
}
@include media-breakpoint-up(xl) {
}
@media (min-width: 576px), screen and (orientation: portrait){

/*
	.top{
		bottom: 10px;
		right: 10px;
		border-radius: 17px;
		font-size: 20px;
		padding: 7px;
	}
*/
}


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 320.98px) {
	.arduino-small-square{
		height: 75px;
		width: auto;
		margin-right: 0px;
	}
/*
	.arduino-images:hover {
	padding: 15px;
	margin: 5px;
}
*/
/*
.arduino-small-square{
    height: 75px;
	width: auto;
	margin-right: 0px;
}
*/
	.back-button{
/*		top: 52px;*/
		top: inherit;
		bottom: 15px;
	}
	.button-spacing{
		margin-bottom: 10px;
	}
	.close-button{
/*		top: 52px;*/
		top: inherit;
		bottom: 15px;
	}
	.carousel-image{
		width: 300px;
		height: 300px;
		object-fit: cover;
	}
	.carousel-div{
		width: 300px;
		height: 300px;
		display: inline-block;
	}
	#hide-carousel-one{
		display: none;
	}
	#hide-carousel-two{
		display: none;
	}
	h3{
		font-size: 1.2rem;
	}
	.image-big{
		width: 100%;
	}
	.view-hi-res{
/*	top: 40vw;*/
	}
	.view-hi-caption{
		bottom: inherit;
		top: 1vh;
	}
	.arduino-cards{
		min-width: 14rem;
	/*	padding: 15px;*/
		margin: 0px;
		box-shadow: 2px 2px 5px rgba(0,0,0,.1);
		max-width: 100%;
	}
	.arduino-images{
		min-width: 14rem;
		padding: 0px;
		margin: 15px;
		box-shadow: 2px 2px 5px rgba(0,0,0,.1);
		max-width: 100%;
/*
		transition:none;
		-webkit-transition: none;
*/
	}
	.arduino-images:hover {
/*
		transition: none;
		-webkit-transition: none;
*/
	}
	.width-100{
		display: inline-block;
		width: 100%;
	}
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	#hide-carousel-one{
		display: none;
	}
	#hide-carousel-two{
		display: none;
	}
	.image-big{
		width: 100%;
	}
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*
	#hide-carousel-two{
		display: none;
	}
*/
	#hide-carousel-two{
		display: none;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	#hide-carousel-two{
		display: none;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  }
