/*	Teal 		#00878F  rgba(0, 135, 143, .9)
	Light Teal	#62AEB2 rgba((98,174,178), .9)
	light light #b2dbdd
	Orange	 	#E47128
	Yellow		#e5ad24 rgb(229, 173, 36)	 rgba(229, 173, 36, .9)
	Brown 		#8C7965
	other 		#ECF1F1  rgba(236, 241, 241, .9)
rgb(229, 173, 36)

https://www.beautycolorcode.com/00878f
#8f003f

#8f5000
*/
/*
h1, h2, h4, h6::first-letter{
	font-size: 1.5em;
}
*/

:focus{
	outline-color: #b2dbdd;
		outline-width: 3px;
/*
	border-style: solid;
	border-color: aqua;
	background-color: blueviolet;
*/
}
::selection{
	color: white;
	background-color: #E47128;
}
::-moz-selection { /* Code for Firefox */
	color: white;
	background-color: #E47128;
}
a{
    text-decoration: none;
/*    color: #E47128;*/
	color: white;

}
a:hover{
/*	color: #00878F;*/
    color: #b2dbdd;
	text-decoration: none;
}
a:active{
	color: #b2dbdd !important;

}
.a2{
	text-decoration: none;
    color: #00878F;
}
.alert{
	font-size: 8 px;
	background-color: rgb(183, 48, 40);
	color: rgb(229, 173, 36);
	border-radius: 50px;
	padding: 1px;
	text-align: center;
}
.arduino-card-hover:hover{
	cursor: pointer;
}
.arduino-cards{
	min-width: 14rem;
	padding: 15px;
	margin: 15px;
	box-shadow: 2px 2px 5px rgba(0,0,0,.1);
	max-width: 330px;
}
.arduino-cards-small{
	padding: 0px;
	margin: 0px;
	display: inline-block;
	position: relative;
}
.arduino-cards-smallCover{
	width: 10vw;
	height: 10vw;
	object-fit: cover;
	border-radius: 25px;
	padding: 5px;
	position: relative;
	top: 0px;
	left: 0px;
}
.drop{
	line-height: 6vw;
	text-align: center;
	border-radius: 25px;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(10vw - 10px);
	height: 0vw;
	content: "";
	z-index: 1;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
	margin-top: 0vw;
	margin-left: 5px;
	font-size: .8em;
	color: transparent;
}
.arduino-cards-small:hover .drop {
	height: 6vw;
	margin-top: 2vw;
	display: inline-block;
	top:0px;
	border-radius: 0px;
	color: white;
}
.arduino-cards-small::before{
	border-radius: 25px;
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(10vw - 10px);
	height: 0vw;
	content: "";
	z-index: 1;
	transition-duration: 200ms;
	transition-timing-function: ease-in-out;
	margin-top: 0vw;
	margin-left: 5px;
}
.arduino-cards-small:hover::before {
	height: 6vw;
	margin-top: 2vw;
	display: inline-block;
	top:0px;
	border-radius: 0px;
}
.arduino-cards-small:nth-child(3n+0)::before {
 	background-color: #00878F;
}
.arduino-cards-small:nth-child(3n+1)::before {
 	background-color: #E47128;
}
.arduino-cards-small:nth-child(3n+2)::before {
 	background-color: #e5ad24;
}
.arduinoCarousel{
	max-width: 50%;
	height: 10%;
}
#arduinoCommunity{
	width: 50vw;
	float: right;
	margin-right: 15px;
}
#arduinoCommunityTitle{
	display: block;
	font-size: 4.5vw;
	background-color: rgba(255,255,255,.9);
	width: 40vw;
	white-space: nowrap;
	font-weight: bolder;
/*	text-overflow: ellipsis;*/
}
#arduinoComponentTitle{
	display: inline;
	font-size: 2.6vw;
	background-color: rgba(255,255,255,.9);
/*	width: 40vw;*/
	white-space: nowrap;
	font-weight: bolder;
	padding-right: 2px;
/*	text-overflow: ellipsis;*/
}
#arduinoDetailInfo{
/*	width: 46vw;*/
	margin: 2vw;
}
#arduino-home-div{
	color: dimgray;
	padding: 15px;
}
.arduino-images{
	min-width: 14rem;
	max-width: 25vw;
	padding: 0px;
	margin: 15px;
	box-shadow: 2px 2px 5px rgba(0,0,0,.1);
/*	transition: all 1s ease-in-out;*/

	background-color: #ECF1F1;
/*	background-image: url(assets/PortalVectorTeal.svg);*/
/*	background-size: 1000px;*/

	transition: padding 10s ease-in-out, margin 10s ease-in-out, background-size 10s ease-in-out, box-shadow 5s;
	-webkit-transition: padding 10s ease-in-out, margin 10s ease-in-out, background-size 10s ease-in-out, box-shadow 5s;
}
.arduino-images:hover {
	padding: 15px;
	margin: 0px;
	box-shadow: 5px 5px 25px rgba(0,0,0,.5);
/*	background-size: 400px;*/
	transition:
		padding 500ms ease-in-out,
		margin 500ms ease-in-out,
/*		background-size 10s ease-in-out,*/
		box-shadow 2s;
	-webkit-transition: padding 500ms ease-in-out, margin 500ms ease-in-out, background-size 10s ease-in-out, box-shadow 2s;
}
.arduino-logo{
	display: inline;
	width: 70px;
	float: left;
}
/*
#arduinoLogo1{ doesn't work! Why?
	width: 150px;
	padding: 20px;
}
*/
.arduino-logo-details{
	display: inline;
	width: 70px;
/*	float: right;*/
	padding: 5px;
	position: relative;
	top:-5px;
/*	margin-bottom: 2px;*/
}
#arduino-projects{
	background-image: url(/assets/coding%20background%20reduced%201920.png);
}
.arduino-small-square{
	width: 25vw;
	max-width: 300px;
	float: right;
	margin: 15px;
}
.arduino-small-square2{
	width: 25vw;
	max-width: 300px;
	float: right;
	margin: 2vw;
	display: inline-block;
}
#arduinoUno{
	width: 400px;
/*	padding-bottom: 125px;*/
	position: relative;
	bottom: 75px;
	padding: 25px;
}
#astoundingText{
	float: right;
	padding-right: 10px;
	margin-top: 3em;
}
.back-button{
	position: fixed;
	top: 63px;
	left: 0px;
	z-index: 99;
}
#bananaDescription{
	font-size: 1.5em;
	float: left;
	display: inline-block;
	width: 65%;
	padding: 2vw;
}
#benjaminWebsite{
/*	background-image: url(/assets/coding%20background%20reduced%201920.png);*/
}
#benjaminWebsiteAd{
	font-size: 1.5em;
	float: left;
	display: inline-block;
	width: calc(100% - 29vw);
	padding: 2vw;
}
#bioDiv{
	background-image: url(/assets/coding%20background%20reduced%201920.png);
	text-align: right;
}
#bioInfo{
	max-width: 750px;
}
#bioInfoWrapper{
	display: inline-block;
	width: calc(100% - 350px);
	text-align: center;
/*	min-width: calc(100% - 50px);*/
}
body{
	background-color: #fff;
	padding: 0px;
    font-size: 18px;
/*	color: #00878F;*/
	color: dimgray;
/*    font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans';*/
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 500;
	min-height: 100vh;
	overflow-x: hidden;
}
.box{
	box-sizing: border-box;
	background-color: #00878F;
	color: white;
/*	box-shadow: 2px 2px 10px rgba(0,0,0, .04);*/
/*	font-size: 14px;*/
	margin: 0px;
/*	padding: 1vw;*/
/*	width: 100%;*/
}
.box2{
	display: block;
	background-image: linear-gradient(to right, rgb(225,225,225) , white);
	color: dimgray;
/*	padding: 20px;*/
/*	box-shadow: 2px 2px 10px rgba(0,0,0, .04);*/
	font-size: 14px;
	margin: 0px;
/*	padding: 1vw;*/
}
.box2DarkBack{
	background-image: linear-gradient(to right, #181818 , gray);
}
.box3{
	display: block;
/*	box-sizing: border-box;*/
	background-image: linear-gradient(to right, rgb(125,125,125) , black);
	color: whitesmoke;
/*	padding: 20px;*/
/*	box-shadow: 2px 2px 10px rgba(0,0,0, .04);*/
	font-size: 14px;
	margin: 0px;
/*	padding: 1vw;*/
}
.boxBack{
	background-color: black;
}
.btn{
	color: rgb(229, 173, 36);
	background: none;
	font-size: 20px;
	padding: 0px;
	margin: 0px;
	border: none;
}
.btn:hover{
	color: rgb(229, 173, 36);
}
.btn-primary {
	background-color: #00878F;
	color: white;
	font-size: 20px;
	padding: 5px;
	margin: 0px;
	border: none;
	font-weight:800;
	border-radius: 100px;
}
.btn-primary-alt{
	background-color: white;
	color: #E47128;
}
.btn-primary-alt-black{
	background-color: black;
	color: white;
}
.btn-primary:active {
/*	background-color: black;*/
	background-color: #b2dbdd;
}
.btn-primary:disabled {
	background-color: rgba(98,174,178, .4);

}
.btn-primary:focus{
	outline-color: #62AEB2;
	outline-width: 3px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
	background-color: #E47128;
	cursor: pointer;
}
.btn-primary-alt:hover{
	color: white;
	background-color: #00878F;
}
button{
	touch-action: manipulation;
	touch-action: pan-x;
	touch-action: pan-left;
	touch-action: pan-right;
	touch-action: pan-y;
	touch-action: pan-up;
	touch-action: pan-down;
}
button:active{
	background-color: #b2dbdd !important;
}
.button:hover:{
cursor: pointer;
}
.buttonImageNav{
	position: fixed;
	bottom: 7vh;
	display: block;
	width: 20px;
	height: 20px;
	border: thin solid white;
	vertical-align: middle;
	line-height: 1em;
	font-size: 1em;
	border-radius: 100px;
	background-color: black;
	color: white;
	box-sizing: content-box;
	padding: 2px;
	z-index: 99;
}
#buttonLeft{
	left: 10px;
}
#buttonRight{
	right: 10px;
}
.button-spacing{
	margin-bottom: inherit;
}
.caption-arduino{
	margin-bottom: 0px;
	box-sizing: content-box;
}
.caption-arduino-sub{
	color: dimgray;
/*	background-color: black;*/
}
.card{
/*	filter: blur(1px) sepia(1) hue-rotate(125deg) saturate(.75);	*/
/*	padding: 0px;*/
/*	background-color: #ECF1F1;*/
/*	background-color: #E47128;*/

/*	background-image: url(assets/PortalVectorTeal.svg);*/
/*	background-size: 1000px;*/
/*	border: none;*/
/*
	background-repeat: no-repeat;
	transition: background-size 2s ease;
*/
/*

	transition: 250ms;
	-webkit-transition: 250ms;
*/
}
.card-body{
	padding: 0px;
}
#card-content{
	box-sizing: content-box;
}
.card-deck{
/*	overflow: hidden;*/
}
.card-footer{
	padding: 0px;
	border: none;
	background: none;
	color: inherit;
}
.card-text{
	font-size: 14px;
	line-height: 1.75em;
	margin-bottom: 5px;
	color: #00878F;
	font-weight:bolder;
	background-color: rgba(0,0,0,.5);
	color: white;
	border-radius: 2px;
	padding: 3px;
	transition: 250ms;
	-webkit-transition: 250ms;
}
.card-text:hover{
/*	font-size: 1.5rem;*/
}
.card-title{
	padding: 7px;
}
.carousel-div{
	width: 400px;
	height: 400px;
	display: inline-block;
}
.carousel-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.carousel-indicators{
	margin-bottom: 0px;
}
.carousel-item{
	transition: transform 8s linear, opacity 8s ease-out;
}
.clearfix{
	overflow: auto;
}
.close-button{
	position: fixed;
	top: 63px;
	left: 0px;
	z-index: 100;
}
#componentsAndLibraries{
	width: 50vw;
	float: right;
	display: inline-block;
	text-align: center;
}
#componentsAndLibrariesContainer{
	color: dimgray;
	padding: 2vw;
	background-image: linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
		url(assets/ArduinomyFace/myFace-workspace-IMG_6071.jpeg)
}
#contactForm{
	margin: 25px;
}
#contactAndProfiles  tr  td{
	padding: 2px 5px;
}
#contactAndProfiles td {
  border-left: 1px solid lightgray;
}
#contactAndProfiles th {
	font-size: .8em;
}
#contactAndProfiles tr:first-child td {
  border-top: 0;
}
#contactAndProfiles tr td:first-child {
  border-left: 0;
	padding-left: 0px;
}
#contactAndProfiles tr:last-child td {
  border-bottom: 0;
}
#contactAndProfiles tr td:last-child {
  border-right: 0;
	padding-right: 0px;
}
.carousel-caption{
	color: white;
	background-color: #8f003f;
	padding: 0px;
	margin: 0px;
/*	background-position: left;*/
/*	text-shadow: 5px 5px 0px white;	*/
}
.custom-toggler.navbar-toggler {
    border-color: #00878F;
}
.container{
/*	padding-right: 500px;*/
}
.cursor-finger{
	cursor: pointer;
}
.custom-toggler{
	border-radius: 50px;
}
.custom-toggler.navbar-toggler:hover {
    border-color: #62AEB2;
}
.custom-toggler.navbar-toggler:focus {
    outline-color: #62AEB2;
	outline-width: 3px;
}
.div-footer{
    position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;

}
div img{
    width: 100%;
    height: auto;
}
footer{
	padding: 10px;
	background-color: lightgray;
	text-align: center;
	padding-bottom: 25px;
}
.firstDiv{
	display: inline-block;
	max-width: calc(100% - 502px);
	min-width: 250px;
	text-align: left;
	padding: 20px;
}
.firstDiv2{
	display: inline-block;
/*	width: calc(50vw - 50px);*/
	text-align: left;
	padding: 20px;
	margin: 25px;
}
.firstDiv3{
	display: inline-block;
/*	max-width: calc(100% - 502px);*/
	min-width: 250px;
	text-align: left;
	padding: 20px;
	margin: 2vw;
}
.form-control{
/*
	border: none;
	margin: 0px;
	padding: 7px;
	border-radius: 0px;
*/
}
.floatRight40{
	display: inline-block;
	width: 70%;
	float: right;
}
.floatRight35{
	display: inline-block;
	width: calc(63vw - 50px);
	float: right;
}
html{
    background-color: dimgray;
/*    color: #8C7965;*/
/*    font-family: sans-serif;*/

font-family: "Open Sans";
font-style: normal;
font-weight: 500;
    font-size: 18px;
}
h1,h2,h3,h4 {
	color: #00878F;
	text-align: right;
	padding: 5px;
}
h1{
	text-align: center;
}
h2{
/*    color: #E47128;*/
	padding: 10px;
    text-transform: uppercase;
}
h3{
	text-align: center;
}
h4{
	text-align: left;
	color: white;
}
h5{
	background-color: #E47128;
	color: white;
	border-radius: 10px;
	padding: 5px;
}
.hide{
	visibility: hidden;
}
.hidden-div{
	position: relative;
	z-index: -1000;
}
#homeProjectsDiv{
	padding-right: 15px;
	text-align: right;
	color: dimgray;
	background-image: linear-gradient(to right, rgb(225,225,225) , white);
/*	padding-left: 1vw;*/
}
#homeProjectsText{
	width: 50vw;
	float: right;
}
#homeProjectsTitle{
	display: block;
	font-size: 2.4em;
	color: dimgray;
	font-weight: bolder;
}
#proDescTitle{
	display: block;
	font-size: 2.75em;
	color: dimgray;
	font-weight: bolder;
}
#homeReference{
	padding: 15px;
	padding-bottom: 0px;
	background-color: black;
	text-align: center;
}
#honeycomb{
	display: inline-block;
	width: 40vw;
	text-align: center;
	float: left;
	margin: 5px;
/*	margin: 1vw;*/
}
#iAma{
	text-align: right;
	font-size: 2em;
	padding-top: .5em;
	padding-right: 20px;
	margin: 0px;
}
.info-panel{
	border-style: solid;
	border-color: #00878F;
	border-radius: 15px;
	border-width: 20px;
	background: white;
	box-shadow: 2px 2px 2px rgba(0,0,0,.1);
}
.inline-block{
	display: inline-block;
}
#introArduinoImage{
	padding-bottom: 15px;
}
.img-scale{
	max-width: 50vw;
    max-height: 50vh;
	object-fit: contain;
}
.img-frame{
	display: inline-block;
/*	box-sizing: border-box;*/
	background-color: black;
/*
	max-width: 90vw;
    max-height: 90vh;
*/
	padding: 0px;
	margin: 0px;
	margin: 15px;
	box-shadow: 2px 2px 5px rgba(0,0,0,.1);
	max-width: 60vw;
/*    max-height: 65vh;*/
/*	max-width: 90%;*/
}
.img-full{
/*
	display: block;
	max-width: 90vw;
    max-height: 90vh;
	object-fit:scale-down;
	padding: 0px;
	margin: 0px;
*/
	padding: 25px;
/*
	margin-left: auto;
	overflow-x: auto;
  	white-space: nowrap;
*/
}
.image-big{
	width: 35vw;
	box-shadow: 5px 5px 25px rgba(0,0,0,.1);
}
.limitText {
    display:flow-root; text-overflow:ellipsis; white-space:nowrap; overflow: hidden;
}
.logoB{
	font-weight: bolder;
	color: #E47128;
	font-size: 1.5em;
	font-family: arial-black, GillSans-UltraBold;
}
.logoDot{
	font-weight: bolder;
	color: dimgray;
	font-size: 1.5em;
	font-family: open-sans;
}
.logoW{
	font-weight: bolder;
	color: #e5ad24;
	font-size: 1.5em;
	font-family: arial-black, GillSans-UltraBold;
}
.max{
	display: inline-block;
	max-width: 1000px;
	text-align: center;
}
#myFaceThumbnail{
	padding: 10px 0px;
	display: inline-block;
	margin: 10px;
	text-align: center;
	width: 25vw;
	max-width: 200px;
}
.navbar{
/*	padding: 3px 5px;*/
}
.navColors {
	color: white;
	background-color: #00878F;
	box-shadow: 0px 0px 5px rgba(0,0,0,.2);
}
.no-border{
	border: 0px;
}
.no-highlight:hover{
	background-color: none;
	border-color: inherit;
}
.navColors a:hover{
	color: #b2dbdd !important;
	cursor: pointer;
}
.nav-link{
/*
	font-size: 1.25rem;
	padding-left: 45px;
*/
}
.navtitle{
	font-size: 1.5rem;
	padding-left: 10px;
}
.navbar-nav{
	padding-left: 45px
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav-z{
	z-index: 49;
}
.no-background{
	background: none;
	margin-bottom: 0px;
	padding: 0px;
	line-height: 1.25;
}
.no-background span{
	padding-left: 5px;
	padding-right: 5px;
}
p{
/*	background-color: white;*/
	padding: 5px;
/*	border-style: hidden;*/
/*	border-radius: 3px;*/
/*	box-shadow: 2px 2px 10px rgba(0,0,0, .04);*/
/*	font-size: 14px;*/
	font-size: 13px;
	color: dimgray;
}
.p-yellow{
	background-color: #e5ad24;
	color: white;
	border-radius: 10px;
	margin: 0px;
}
.p-gray{
	color: dimgray;
}
.p-white{
	color: white;
}
#professionalDiv{
	text-align: center
}
.pdfButtons:disabled{
	background-color: white;
	color: #E47128;
}
.pdfButtons{
	background-color: #E47128;
	color: white;
}
#photographyTitleImage{
	background-image: url("assets/Photography/Canadian_murals-50percent-IMG_9447.png");
	height: 50vh;
	background-size: cover;
}
#arduinoVideoDiv{
/*	display: inline-block;*/
/*	height: 50vw;*/
/*	background-size: cover;*/
	text-align: center;
/*	display: inline-block;*/
	position: relative;
/*	width: 100%;*/
/*	top: 0px;*/
}
#arduinoVideoImage{
	height: 50vw;
	width: 80vw;
	max-width: 750px;
	max-height: 468px;
	object-fit: cover;
/*
	position: absolute;
	top: 0px;
	left: 0px;
*/
	display: inline-block;
	border: solid 2vw black;
	border-radius: 2vw;
}
.pngShadow{
	-webkit-filter: drop-shadow(5px 5px 2px black);
    filter: drop-shadow(5px 5px 2px black);
}
#photographyTitle{
/*
	background-image: url("assets/Photography/Canadian_murals-50percent-IMG_9447.png");
	height: 50vh;
	background-size: cover;
*/
/*	text-align: center;*/
	font-size: 10vw;
	color: black;
	text-shadow: 2px 2px 0px white, -6px 0px 0px beige, 6px 0px 0px white, -20px 20px 0px orange;
	font-weight: bolder;
	text-transform: uppercase;
	mix-blend-mode:overlay;
}
#arduinoVideoTitle{
	position: absolute;
	bottom: 5px;
	left: 0px;
	display: inline-block;
	width: 100%;
	font-size: 100px;
	color: #E47128;
	text-shadow: 2px 2px 0px black, -1vw 0px 0px white, 0px -1vw 0px white, 0px 1vw 0px white, 1vw 0px 0px white, -2px 2px 0px white;
/*	#00878F*/
	font-weight: bolder;
	text-transform: uppercase;
/*	mix-blend-mode:luminosity;*/
}
#profilePictureDiv{
	display: inline-block;
}
.project{
/*	background-color: rgba(236, 241, 241, .2);*/
/*	box-shadow: 2px 2px 10px rgba(0,0,0, .1);*/
}
.projects-filter{
	filter: sepia(1) hue-rotate(125deg) saturate(.75);

	transition: 250ms;
	-webkit-transition: 250ms;
}
.projects-filter:hover{
	filter: sepia(0) hue-rotate(0deg) saturate(1);

}
.projectInterdimensional{
	background-color: rgb(195, 228, 237);
	background-image: url(/assets/PortalBenjaminDark%20old.png);
	background-size: cover;
	color: rgb(56, 62, 75);
}
.projectInterdimensionalBox{

}
#professionalDescription{
	display: inline-block;
	width: 45%;
	float: right;
/*	margin-right: 20px;*/
	text-align: center;
	margin-right: 25px;
}
.removePadding{
	padding: 0;
}
.shadow-box{
	box-shadow: 5px 5px 15px rgba(0,0,0,.1);
}
.shadow-text{
	text-shadow: 2px 2px 5px black, 2px -2px 1px black, 2px 1px 0px black, 1px 1px 3px black;
}
.shadow-text-white{
	text-shadow: 2px -2px 5px black, 2px 2px 1px white, 2px 1px 0px black, 1px 1px 3px black;
}
.shadow2{
/*	box-shadow: -30px 15px 0px black, 50px 15px 100px black;*/
}
.shrinkH4{
	padding-left: 25px;
	padding-top: 25px;
}
.shrink-img-1{
	width: 125px;
	padding-top: 20px;
	padding-right: 20px;
}
#skillsData{
/*	float: left;*/
	display: inline-block;
	margin-top: calc(2em + 23px);
	width: calc(50% - 50px);
/*	max-width: 40vw;*/
}
.sticky-nav{
	position: sticky;
	top: 10px;
}
.sticky-top{
	position: -webkit-sticky;
	position: sticky;
	top: 10px;
	z-index: 51;
}
.stroke{
	-webkit-text-stroke: 2px white;
	text-stroke: 2px white;
}
table {
  border-collapse: collapse;
}
table, th, td {
/*  border: 1px solid black;*/
	font-size: .8em;
}
th{
	font-size: 1.3em;
	padding-left: 25px;
}
td{
	padding-left: 45px;
	font-size: 1em;
}
.thing-button{
	background-color: rgb(137, 6, 58);
	color: rgb(195, 228, 239);
	padding: 5px;
	border-radius: 5px;
	font-size: 1em;
}
.thing-card{
    margin: 5px 0px;
    padding: 5px;
    display: inline-block;
    border-radius: 2px;
    border-width: 25px 3px;
    border-style: solid;
    background-color: rgba(195, 228, 239, .9);
    color: rgb(56,62, 77);
    text-align: end;

	transition-duration: 500ms;
	transition-timing-function: ease-in-out;
    box-shadow:none;
}
.thing-card:hover{
    border-width: 3px 3px;
	margin: 27px 0px;

}
.threeColorTitle{
	display: block;
	padding: 5px 25px;
	background-color: rgba(255,255,255,.8);
	font-size: 4.3vw;
	color: dimgray;
	font-weight: bolder;
}
.texture-stripes{
	/*	background-color: beige;*/
	background-image: linear-gradient(98deg, rgba(255,255,255,.07) 50%, transparent 50%),
	linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
	linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 13px, 29px, 37px, 53px;
}
.view-hi-res{
	position: fixed;
	top: 0px;
	left: 0px;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
	background-color: black;
	padding: 3px;
	box-shadow: 2px 2px 10px rgba(0,0,0, .08);
	z-index: 52;
/*
	transition: background-color 500ms;
	-webkit-transition: background-color 500ms;
*/
}
/*
#viewHiResImage{
	transition: background-color 500ms;
	-webkit-transition: background-color 500ms;
}
*/
.hardFade{
	background-image: linear-gradient(to right, rgb(225,225,225),white,white,white)
}
.view-hi-caption{
	position: fixed;
	right: 0;
    left: 0;
	bottom: 0px;
	z-index: 53;
	padding: 0px 5px;
	margin-bottom: 0px;
	width: 100vw;
/*	background-color: black;*/

/*
    margin-right: auto;
    margin-left: auto;
*/
/*
	padding-left: auto;
	padding-right: auto;
*/

}
#websiteScreenshot{
	font-size: 1.5em;
	background-color: black;
/*	display: block;*/
/*	text-align: center;*/
/*	width: 100%;*/
}
/*
.websiteScreenshot{
	font-size: 1.5em;
	text-shadow: 1px 1px 10px black;
	background-color: rgba(0,0,0,.5);
	margin-top: 1em;
	border: solid 2px white;
}
*/
.width-100{
/*
	display: inherit;
	width: inherit;
*/
	margin: 0vh 1vw;
}
#whatsArduinoDiv{
/*
	background-image:
		linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
		url(assets/resistors.jpeg);
*/

	background-image:
		linear-gradient( to left,
          rgba(255, 255, 255, 0.9),
          rgba(255, 255, 255, 0.1)
        ),
		url(assets/ArduinoGeneral/simpleArduino.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: hard-light;
	text-align: right;
}
#whatsArduinoDivMini{
	background-image:
		linear-gradient( to right,
          rgba(255, 255, 255, 0.9),
          rgba(255, 255, 255, 0.9)
        ),
		url(assets/ArduinoGeneral/simpleArduino.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: hard-light;
/*	text-align: right;*/
/*	padding: 1vw;*/
}
.x-button{
	position: fixed;
	top: 65px;
	bottom: auto;
	right: 2px;
	display: block;
	width: 20px;
	height: 20px;
	border: thin solid white;
	vertical-align: middle;
	line-height: 1em;
	font-size: 1em;
	border-radius: 100px;
	background-color: black;
	color: white;
	box-sizing: content-box;
	padding: 2px;
	z-index: 99;
}
#yellowComponents{
	margin-bottom: 0px;
}


/*desktop*/
@media (max-width: 1199.98px){

}
/*large*/
@media (max-width: 991.98px){
	.arduino-images{
		max-width: 50vw;
	}
	#arduinoVideoTitle{
		font-size: 10vw;
	}
	.drop{
		font-size: .6em;
	}
	.arduino-cards-small:hover::before{
		border-radius: 8px;
	}
	#bananaDescription{
		font-size: 1em;
	}
	th{
	font-size: 1.3em;
	}
	td{
		font-size: .8em;
	}
	#homeProjectsTitle{
		display: block;
		font-size: 3.5vw;;
		color: dimgray;
		font-weight: bolder;
	}
}

/*medium*/
@media (max-width: 767.98px) {
	#arduinoDetailInfo{
		width: 92vw;
	}
	.arduino-images{
		max-width: none;
	}
	.image-big{
		width: 100%;
	}
	#bananaDescription{
		font-size: .8em;
	}
	.buttonImageNav{
		bottom: 10vh;
		width: 50px;
		height: 50px;
		line-height: 1em;
		font-size: 2em;
	}
	#honeycomb{
		width: 100vw;
		margin: 0px;
	}
	.card-deck{
		flex: none;
	}
	.arduino-cards-smallCover{
		width: 33vw;
		height: 33vw;
	}
	.arduino-cards-small{
		width: 33vw;
	}
	#astoundingText{
		padding: 5px;
		margin-top: 10px;
	}
	.panel-mobile{
		max-width: 100%;
		min-width: calc(100% - 50px);
	}
	#bioInfoWrapper{
		width: 100%;
		min-width: calc(100% - 50px);
		max-width: 100%;
	}
	.projects-filter{
		filter: sepia(0) hue-rotate(0deg) saturate(1);
	}
	#honeycomb{
		width: 100vw;
	}
	#arduinoUno{
		width: 100%;
		padding-bottom: 25px;
		bottom: 0px;
	}
	#homeProjectsTitle{
		display: block;
		font-size: 7vw;;
		color: dimgray;
		font-weight: bolder;
	}
	#proDescsTitle{
		display: block;
		font-size: 7vw;;
		color: dimgray;
		font-weight: bolder;
	}
	.floatRight35{
		display: inline-block;
		width: 100%;
		float: none;
	}
	#componentsAndLibraries{
		float: none;
		width: 96vw;
		margin: 0px;
	}
	#arduinoComponentTitle{
		font-size: 5vw;
	}
	.shrink-img-1{
		width: 100px;
		padding: 5px;
	}
	.thing-button{
		font-size: .75em;
	}
	#professionalDescription{
		float: none;
		width: 90%;
/*		padding: 25px;*/
		margin: 25px;
	}
	#iAma{
		padding: 0px;
		margin-right: 1vw;
	}
	#homeProjectsText{
		width: 75vw;
	}
	.arduino-cards-small:hover .drop {
		height: 13vw;
		margin-top: 10vw;
	}
	.drop{
		width: calc(33vw - 10px);
		line-height: 13vw;
		font-size: .9em;
	}
	.arduino-cards-small::before{
		width: calc(33vw - 10px);
	}
	.arduino-cards-small:hover::before {
		height: 13vw;
		margin-top: 10vw;
		border-radius: 0px;
	}
	#skillsData{
		display: inline-block;
		width: 75%;
		margin-top: inherit;
		min-width: 75vw;
		max-width: 500px;
	}
	.view-hi-caption{
		bottom: inherit;
		top: 63px;
	}
	.x-button{
/*		top: calc(90vh - 54px);*/
		top: auto;
		bottom: 10vh;
		right: calc(50vw - 25px);
		width: 50px;
		height: 50px;
		font-size: 1em;
		padding: 2px;
		z-index: 99;
	}
	th{
	font-size: 1.3em;
	}
	td{
		font-size: 1em;
	}

}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width:575.98px) {
	.arduino-cards{
		min-width: 14rem;
		margin: 0px;
		box-shadow: 2px 2px 5px rgba(0,0,0,.1);
		max-width: 100%;
	}
	.arduino-cards-smallCover{
		width: 33vw;
		height: 33vw;
	}
	.arduino-cards-small{
		width: 33vw;
	}
	.arduino-small-square{
		float: none;
		width: 60vw;
	}
	.arduino-small-square2{
		width: 15vw;
		float: none;
		margin: 25px;
	}
	.floatRight40{
		float: none;
		width: 100vw;
	}
	#astoundingText{
	}
	.back-button{
/*
		top: inherit;
		bottom: 0px;
		height: 80px;
*/
	}
	#benjaminWebsiteAd{
		font-size: 1.5em;
		float: left;
		display: inline-block;
		width: 100%;
		padding: 2vw;
	}
	#bananaDescription{
		font-size: 1.5em;
		float: left;
		display: inline-block;
		width: 100vw;
		padding: 2vw;
	}
	.btn-primary{
		font-size: .8rem;
	}
	.button-spacing{
		margin-bottom: 10px;
	}
	.card-deck{
		flex: none;
	}
	.carousel-image{
		width: 300px;
		height: 300px;
		object-fit: cover;
	}
	.carousel-div{
		width: 300px;
		height: 300px;
		display: inline-block;
	}
	#contactAndProfiles{
		width: 100%;
	}
	#contactTable td{
		font-size: .1em;
		width: 25%;
		visibility: hidden;
	}
	.close-button{
		top: inherit;
/*
		bottom: 0px;
		height: 80px;
*/
	}
	h3{
		font-size: 1.5em;
	}
	#hide-carousel-one{
		display: none;
	}
	#hide-carousel-two{
		display: none;
	}
	#honeycomb{
		width: 100vw;
	}
	.image-big{
		width: 100%;
	}
	.logoB{
		font-size: 1.2em;
	}
	.logoW{
		font-size: 1.2em;
	}
	#myFaceThumbnail{
		width: 65vw;
		margin-top: 5px;
	}
	.panel-mobile2{
		max-width: 100%;
		min-width: calc(100% - 50px);
	}
	.shrinkH4{
		font-size: .9em;
		margin: 10px 5px;
		padding-left: 5px;
		padding-top: 5px;
	}
	.shrink-img-1{
		width: 75px;
		padding: 5px;
	}
	.threeColorTitle{
		padding: 5px 10px;
		font-size: 4.3vw;
	}
	.view-hi-res{
/*	top: 40vw;*/
	}
	.width-100{
		display: inline-block;
		width: 100%;
		margin: 5px 0px;
	}
	#yellowComponents{
		margin-bottom: 20px;
	}
	#skillsData{
		display: inline-block;
		width: 90%;
		margin-top: inherit;
		margin-left: 5px;
		margin-right: 5px;
		min-width: 80vw;
	}
	th{
		padding-left: 5px;
	}
	td{
		padding-left: 25px;
		font-size: .9em;
	}
	#professionalDescription{
		width: 90%;
/*		padding: 25px;*/
		margin: 10px;
	}
}

/* iPhone 6+, 6s+, 7+, 8+, XsMax 414*/
@media (max-width: 414.98px){
	#homeProjectsTitle{
		font-size: 6.5vw;;
	}
	#proDescTitle{
		font-size: 6.5vw;;
	}
	.btn-primary{
		font-size: .7rem;
	}
}
/* iPhone 6, 6s, 7, 8, X, Xs 375*/
@media (max-width: 375.98px){
}
/*iPhone 5s 320*/
@media (max-width: 320.98px){
	h1, h2, h3, h4, h5, h6{
		font-size: 1.3rem;
	}
	.navtitle{
		font-size: 1.3rem;
	}
	.threeColorTitle{
		padding: 5px 10px;
		font-size: 3.8vw;
	}
	.navbar-brand{
		font-size: 0.95rem;
	}
	.shrinkH4{
		font-size: .8em;
	}
}

/*   ––––––––NOT CURRENTLY BEING USED––––––––   */
/*carousel*/
@media (min-width: 576px) and (max-width: 767.98px) {
	#hide-carousel-one{
		display: none;
	}
	#hide-carousel-two{
		display: none;
	}
}
/*carousel*/
@media (min-width: 768px) and (max-width: 991.98px) {
	#hide-carousel-two{
		display: none;
	}
}
/*carousel*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	#hide-carousel-two{
		display: none;
	}
}

.hexbuttons {
  margin-top: 50px;
  padding: 50px 0 0 5px;
/*  width: 345px;*/
}
.hexr {
  height: 100px;
  margin-top: -15px;
}
.hexr:nth-child(even) {
  margin-left: 53px;
/*  width: 220px;*/
}
.hexagon {
  background: black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  float: left;
  font-size: 36px;
  height: 55px;
  margin: 0 5px 0 0;
  position: relative;
	width: 100px;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid black;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid black;
/*	z-index: 0;*/
}
.hexagon span {
  display: block;
  height: 100%;
  padding-top: 8px;
  text-align: center;
  width: 100%;
}
.hexagon span::before {
  content: attr(title);
  background: #00878F;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  font: 14px 'Ubuntu Mono', monospace;
  opacity: 0;
  position: absolute;
  top: -5px;
  left: 0;
  text-transform: uppercase;
  transition: 0.1s all ease-in-out;
  width: 100%;
}
.hexagon:hover span::before {
  opacity: 1;
  top: 5px;
  transition: 0.1s all ease-in-out;
	background-image: url(/src/assets/ArduinoNeechiFeeder/Neechi-hanging-closeup-IMG_5184.jpeg)
}
