/*	Teal 		#00878F
	Light Teal	#62AEB2
	Orange	 	#E47128
	Yellow		#E5AD24	 rgba(229, 173, 36, .9)
	Brown 		#8C7965
	other 		#ECF1F1  rgba(236, 241, 241, .9)   */

.alert{
	font-size: 8 px;
	background-color: rgb(183, 48, 40);
	color: #E5AD24;
	border-radius: 50px;
	padding: 1px;
	text-align: center;
}
.arduinoCarousel{
	max-width: 50%;
	height: 10%;
}
.arduino-cards{
	min-width: 14rem;
/*	padding: 15px;*/
	margin: 15px;
	box-shadow: 5px 5px 25px rgba(0,0,0,.2);
	max-width: 50%;
}
.arduino-images{
	min-width: 14rem;
	padding: 0px;
	margin: 15px;
	box-shadow: 5px 5px 25px rgba(0,0,0,.2);
	max-width: 50%;
}
.arduino-logo{
	display: inline;
	width: 70px;
	float: left;
}
.arduino-logo-details{
	display: inline;
	width: 70px;
	float: right;
	padding: 5px;
}
.arduino-card-hover:hover{
	cursor: pointer;
}
html{
    background-color:#ffffff;
    color: #8C7965;
    font-family: sans-serif;
    font-size: 18px;
}

h1,h2,h3,h4 {
        color: #00878F;
        text-align: right;
}
h1{
	text-align: center;
}
h2{
    color: #E47128;
	padding: 10px;
    text-transform: uppercase;
}
h3{
	text-align: center;
}
h4{
	text-align: left;
}

a{
    text-decoration: none;
    color: #E5AD24;
}
a:hover{
	color: #00878F;
	text-decoration: none;
}

body{
	background-color: #ECF1F1;
/*    margin: 10px;*/
	padding: 15px;
    font-size: 18px;
	color: #8C7965;
/*
    border: 12px hidden;
    border-radius: 25px;
*/
    font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans';
}
body p{
	background-color: rgba(255,255,255, .7);
	padding: 5px;
	border-style: hidden;
	border-radius: 5px;
	box-shadow: 2px 2px 10px rgba(0,0,0, .04);
	font-size: 14px;
}
.box{
	box-sizing: border-box;
/*	text-align: center;*/
	background-color: rgba(255,255,255, .3);
	padding: 5px;
	border-style: hidden;
	border-radius: 5px;
	box-shadow: 2px 2px 10px rgba(0,0,0, .04);
	font-size: 14px;
}
.boxBack{
	background-color: black;
}
.button:hover:{
cursor: pointer;
}
.btn-primary {
	background-color: #E5AD24;
	color: white;
	font-size: 20px;
	padding: 5px;
	margin: 0px;
	border: none;
}
.btn{
	color: #E5AD24;
	background: none;
	font-size: 20px;
	padding: 0px;
	margin: 0px;
	border: none;
}
.btn:hover{
	color: #E47128
}
.btn-primary:focus{
	outline-color: #E5AD24;
		outline-width: 3px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.active, .open>.dropdown-toggle.btn-primary{
	background-color: #00878F;
	cursor: pointer;
}
.btn-primary:active{
	background-color: #62AEB2;
}
.btn-primary:focus{
	outline-width: 3px;
/*	outline-color: #E5AD24;*/
}
.carousel-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.carousel-div{
	width: 400px;
	height: 400px;
	display: inline-block;
}
.carousel-item{
	transition: transform 8s linear, opacity 8s ease-out;
}
.card{
	padding: 0px;
	background-color: #ECF1F1;
	background-image: url(assets/PortalBenjaminLight.png);
	background-size: 1000px;
}
.card-body{
	padding: 0px;
/*
	background-image: url(assets/PortalBenjaminLight.png);
	background-size: 500px;
*/
}
.card-title{
	padding: 7px;
}
.carousel-indicators{
	margin-bottom: 0px;
}
.carousel-caption{
	color: black;
	background-color: rgba(255,255,255,.5);
	padding: 0px;
	margin: 0px;
	background-position: left;
/*	text-shadow: 5px 5px 0px white;	*/
}
.custom-toggler.navbar-toggler {
    border-color: #E5AD24;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#E5AD24' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.container{
/*	padding-right: 500px;*/
}
.custom-toggler.navbar-toggler:hover {
    border-color: #E47128;
}
.custom-toggler.navbar-toggler:focus {
    outline-color: #E5AD24;
	outline-width: 3px;
}
div img{
    width: 100%;
    height: auto;
/*	object-fit:cover;*/
}
footer{
/*	text-align: center;*/
/*	text-shadow: 0px 1px .25px white;*/
}
.img-scale{
	max-width: 50vw;
    max-height: 50vh;
	object-fit: contain;
}
.image-big{
	width: 20vw;
		box-shadow: 5px 5px 25px rgba(0,0,0,.5);
}
.limitText {
    display:flow-root; text-overflow:ellipsis; white-space:nowrap; overflow: hidden;
}
.navColors {
	color: #E5AD24;
	margin: auto;
/*	background-color: rgba(0, 135, 143, .9);*/
	background-color: rgba(236, 241, 241, .95);
	border-radius: 0px;
/*	background-image: url(data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://ww…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E);*/
	min-width: 18rem;
	padding: 15px;
	margin: auto;
	box-shadow: 5px 5px 25px rgba(0,0,0,.2);
	max-width: 500px;

/*	max-width: 50%;*/
}
.sticky-nav{
	position: sticky;
	top: 10px;
}
.sticky-top{
	top: 10px;
}
.navbar{
	padding: 3px 5px;
}
.navColors a:hover{
	color: #E47128 !important;
	cursor: pointer;
}
:focus{
	outline-color: #E5AD24;
		outline-width: 3px;
/*
	border-style: solid;
	border-color: aqua;
	background-color: blueviolet;
*/
}
.removePadding{
	padding: 0;
}
.top{
	position: fixed;
	bottom: 20px;
	right: 20px;
	border-style: hidden;
	background-color: rgb(0, 135, 143);
	border-radius: 22px;
	font-size: 30px;
	padding: 11px;
	z-index: 20;
}
.top:hover{
	color: #E47128;
}
#topButton{
	position: fixed;
	bottom: 5px;
	right: 5px;
}
.image-lock{
	height: inherit; width: auto;
	align-content: center;
	align-items:center;
/*	text-align: center;*/
}
.image-lock-80{
	display: inline-block;
	align-content: center;
	align-items:center;
	max-width: 80vw;
	text-align: center;
/*	text-align: center;*/
}
.project{
/*	border-style: hidden;*/
	background-color: rgba(236, 241, 241, .2);
	box-shadow: 5px 5px 35px;
}
.resume{
	display: inline-block;
	width: 55vw;
	height: 60vh;
	border-style: hidden;
	border-radius: 20px;
	background-color: rgba(255,255,255, .5);
	padding: 5px;
	margin: 5px;
	padding-bottom: 90px;
}
.user-card .header{
	background-image: url(https://cdn-images-1.medium.com/max/2000/1*19LWzzJJDPqGq67Vyd0EjQ.jpeg);
}
.rounded-image{
	border-style: hidden;
/*	border-width: 15px;*/
	border-radius: 0px;
}




@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) {
}
@include media-breakpoint-up(xl) {
}
@media (min-width: 576px) {
	.top{
		bottom: 10px;
		right: 10px;
		border-radius: 17px;
		font-size: 20px;
		padding: 7px;
	}
}

