<!--<div style="background-image: url(assets/PortalVectorLight.svg); background-size: cover">-->
	<h1>Benjamin Salasek</h1>
<!--
		<div style="text-align: center" class="width-100">
		<button routerLink="/arduino" class="btn-primary shadow-box width-100">Arduino</button>

		<button routerLink="/professional" class="btn-primary shadow-box width-100">Professional</button>

		<button routerLink="/personal" class="btn-primary shadow-box width-100">Personal</button>
		<br>
		<br>
	</div>
-->
<div class="container">
	<div class="row">
	<div class="box col">
		<h5>Introduction</h5>
		Hello, I am Benjamin Salasek. For those of you who do not know, I am an Arduino enthusiest, a software developer and an artist. Please browse this site, and don't forget to check out all of my cool Arduino projects!
		<br>
		<br>
		Thank you,
		<br>
		Benjamin Salasek
	</div>
	<br>
<!--
	<div style="text-align: center">
					<span><button routerLink="/arduino" class="btn-primary shadow-box" style="width: 60%">Arduino</button></span>
					<span><button routerLink="/professional" class="btn-primary shadow-box" style="min-width: 60%">Professional</button></span>
					<span><button routerLink="/personal" class="btn-primary shadow-box" style="min-width: 60%">Personal</button></span>
	</div>
-->



	<div class="col" style="text-align: center; font-size: 0px">
		<div class="shadow-box" style="display: inline-block">
			<div class="carousel-div">
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="1" data-wrap="true" direction="left" data-pause="false">
				  <div class="carousel-inner">
					 <div class="carousel-item active">
					 	<a href="/home"><img class="d-block w-100 carousel-image" src="assets/PortalVectorTeal.svg" alt="first slide"></a>
						<a href="http://www.benjamin.website"><div class="carousel-caption" style="text-align: center; font-size: 18px">Benjamin Salasek</div></a>
					</div>
					<div *ngFor="let arduino of arduinoProjects" routerLink="/arduino-detail/{{arduino.id}}" class="carousel-item cursor-finger">
					  <img class="d-block w-100 carousel-image" src="{{arduino.imagePath}}" alt="second slide">
						<div class="carousel-caption" style="text-align: center; font-size: 18px">
							{{arduino.title}}
						</div>
					</div>
				  </div>
				</div>
			</div>

		</div>
	</div>

	</div>
</div>


<!--

	<div style="text-align: center; font-size: 0px">
		<div class="shadow-box" style="display: inline-block">

			<div class="carousel-div">
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="1" data-wrap="true" direction="left" data-pause="false">
				  <div class="carousel-inner">
					 <div class="carousel-item active">
					 	<a href="/home"><img class="d-block w-100 carousel-image" src="assets/PortalVectorTeal.svg" alt="first slide"></a>
						<a href="http://www.benjamin.website"><div class="carousel-caption" style="text-align: center; font-size: 18px">Benjamin Salasek</div></a>
					</div>
					<div class="carousel-item">
					 <a href="assets/El-Horse-forweb1000.png"><img class="d-block w-100 carousel-image" src="assets/El-Horse-forweb1000.png"></a>
						<div class="carousel-caption" style="text-align: center; font-size: 18px">
							El Horse
						</div>
					</div>
					<div class="carousel-item">
					  <a href="assets/biker_boys.png"><img class="d-block w-100 carousel-image" src="assets/biker_boys.png"></a>
						<div class="carousel-caption" style="text-align: center; font-size: 18px">
							Biker Boys
						</div>
					</div>
					<div *ngFor="let arduino of arduinoProjects" routerLink="/arduino-detail/{{arduino.id}}" class="carousel-item cursor-finger">
					  <img class="d-block w-100 carousel-image" src="{{arduino.imagePath}}" alt="second slide">
						<div class="carousel-caption" style="text-align: center; font-size: 18px">
							{{arduino.title}}
						</div>
					</div>
				  </div>
				</div>
			</div>

			<div id="hide-carousel-one" class="carousel-div">
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="1" data-wrap="true" direction="left" data-pause="false">
				  <div class="carousel-inner">
					 <div class="carousel-item active">
						 <a href="/home"><img class="d-block w-100 carousel-image" src="assets/PortalVectorTeal.svg" alt="first slide"></a>
						<a href="/home"><div class="carousel-caption" style="text-align: center; font-size: 18px">
							Click to resume
							</div></a>
					</div>
					<div class="carousel-item">
					  <a href="assets/biker_boys.png"><img class="d-block w-100 carousel-image" src="assets/biker_boys.png"></a>						<div class="carousel-caption" style="text-align: center; font-size: 18px">
							Biker Boys
						</div>
					</div>
					<div *ngFor="let arduino of arduinoProjects" routerLink="/arduino-detail/{{arduino.id}}" class="carousel-item" cursor-finger>
					  <img class="d-block w-100 carousel-image" src="{{arduino.imagePath}}" alt="second slide">
						<div class="carousel-caption" style="text-align: center; font-size: 18px">
							{{arduino.title}}
						</div>
					</div>
				  </div>
				</div>
			</div>

			<div id="hide-carousel-two" class="carousel-div">
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="1" data-wrap="true" direction="left" data-pause="false">
				  <div class="carousel-inner">
					 <div class="carousel-item active">
						 <a href="/home"><img class="d-block w-100 carousel-image" src="assets/PortalVectorTeal.svg" alt="first slide"></a>
						<a href="/home"><div class="carousel-caption" style="text-align: center; font-size: 18px">
							Benjamin Salasek
							</div></a>
					</div>
					<div *ngFor="let arduino of arduinoProjects" routerLink="/arduino-detail/{{arduino.id}}" class="carousel-item cursor-finger">
					  <img class="d-block w-100 carousel-image" src="{{arduino.imagePath}}" alt="second slide">
						<div class="carousel-caption" style="text-align: center; font-size: 18px">
							{{arduino.title}}
						</div>
					</div>
					<div class="carousel-item">
					  <a href="assets/biker_boys.png"><img class="d-block w-100 carousel-image" src="assets/biker_boys.png"></a>						<div class="carousel-caption" style="text-align: center; font-size: 18px">
							Biker Boys
						</div>
					</div>
				  </div>
				</div>
			</div>
		</div>
	</div>
-->
	<br>
	<br>
<!--</div>-->
