<br>
<h2> Arduino Projects</h2>
<!--
  <div  *ngIf="show">
	  	<a href="#" (click)="toggle()" class="btn-primary">Back/Close</a>
		<app-arduino-detail [arduino]="selectedArduino"></app-arduino-detail>
   </div>
-->
<div class="card-deck">
<!--	<div class="card arduino-cards" *ngFor="let arduino of arduinoProjects" [class.selected]="arduino === selectedArduino" (click)="onSelect(arduino); toggle()">-->
	<div class="card arduino-cards" *ngFor="let arduino of arduinoProjects" routerLink="/arduino-detail/{{arduino.id}}">
		<h6 class="card-title" >{{arduino.title}}</h6>
		<img class="card-img-top" style="" src="{{arduino.imagePath}}">
		<div class="card-body">

			<div class="card-text">
				<p> a space for text</p>
			</div>
		</div>
		<div class="card-footer" style="margin: 0px">
		  <small class="text-muted">{{arduino.dateCompleted}}</small>
		</div>
	</div>
</div>
